@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body {
    margin-top: 80px;
    background-color: #020D18;
    font-family: 'Poppins', sans-serif;
}

/* Navbar */

.navbar {
    background-color: black;
    color: white;
    padding: 20px 0;
}


.navbar a:link, a:visited, .col a:link {
    text-decoration: none;
    color: white !important
  }

  .navbar h4, footer {
    font-weight: 700;
    font-size: 25px;
  }

  .navbar-links a:hover, footer i:hover {
    color: #F1C40F !important;
  }

  /* Now Playing Section */

  .now-playing {
    text-align: center;
    padding: 80px;
    background: url(../images/showcase-bg.jpg) no-repeat center center/cover;
  }

  .now-playing h3,  .media-details-container h2, .media-details h3, .media-info h3 {
    color: white;
    font-weight: 700 !important;
    font-size: 24px;
  }

  /* Slider */
  .swiper {
   width: 100%;
   height: 50%;
  }

  .swiper-slide {
   text-align: center;
    font-size: 18px;
    background-color:#020D18;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .swiper-rating {
    color: white;
    font-size: 20px;
    padding: 10px;

  }

  .fa-star {
    color: #F1C40F !important;
  }

  /* Search Form */

  .search-form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 30vh;
    font-size: 17px;
    color: white;
  }
  
  .alert {
    margin: 30px 0;  
    color: white;
    border-radius: 4px;
  }

  .alert-success {
  background: green;
  }

  .alert-error {
  background: red;
  }

  .form-container {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

.search-form-container form {
    width: 100%;
    max-width: 600px;
    margin:  0 auto !important;
}

  .search-bar, .search-bar-btn {
    border-radius: 5px;
    border: 1px solid white;
}

.search-bar {
  padding: 10px;
      background-color: transparent;
      width: 70%; 
      color: white;
  }

::placeholder {     
    color: white; 
} 
 
  .search-bar-btn {
    background-color: #F1C40F;
    max-width: 10%; 
    padding: 10px 50px 10px 40px; 
    text-align: center;
    margin-left: 10px;
  }

  .search-bar-btn:hover {
    border: 1px solid #F1C40F;
    background-color: transparent;
    color: white;
  }

  /* Popular Movies & Shows */

  .media-details-container {
    max-width: 75%;
    margin: 0 auto;
    color: white;
  }

  .media-details-container h2 {
    text-align: center;
  }
 

  .col img {
    padding: 4px;
    margin: 0 auto;
  }

  .card {
    background-color: #04376B;
    color: white;
    border-radius: 0px;
    transition: all 300ms ease-in-out;
  }

  .card:hover {
    transform: scale(1.05);
    }

    .card-body h5 {
      font-size: 17px;
      font-weight:700;
    }
  

/* Search Page */

#search-results-heading {
 text-transform: uppercase;
}

 .page-controls button, .back-btn {
  padding: 5px 15px;
  background-color: transparent;
  color: white;
  border-radius: 4px;
  border: 1px solid #F1C40F;
 }

 .page-controls button:hover:not([disabled]),
 .back-btn:hover:not([disabled]) {
   background-color: #F1C40F;
   color: black;
 }

 .page-controls button[disabled],
 .back-btn[disabled] {
   opacity: 0.6;
   cursor: not-allowed;
 }



 /* Movie Details Page */

.media-details h3, .media-info h3 {
 text-align: center;
 margin-bottom: 30px;
 margin-top: 10%;
}

.genres, .info-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.genres strong {
  font-size: 14px;
}

.info-list li {
  color: #F1C40F;
}

.info-list li span {
  color: white
}

.custom-padding-md {
  padding-left: 37px !important;
}

/* Footer */

    footer {
    color: white; 
    margin: 0 auto;
    width: 75% !important;
    padding: 50px 0;
  }
  

@media (max-width: 1200px) {
   
  .media-details-container {
    max-width: 90% !important;
  }

  footer {
    width: 90% !important;
  }

  .media-details img {
    width: 400px !important;
    padding-left: 10px;
  }

  .custom-padding-md {
      padding: 0;
  }
}

@media (max-width: 700px) {
  .search-form-container form {
      width: 80%;
      max-width: 600px;
      margin: auto;
   
  }  
}